
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

div {
    width: 50%;
    height: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

div:hover {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.halfdiv {
    height: 25%;
}


.backgroundimage:hover {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

div:nth-of-type(1) {
    background: white;
    background-image: url('/homepage/bulls.png');
    background-repeat: no-repeat;
    background-position: center;
}

div:nth-of-type(2) {
    background: #f8fafc;
    background-image: url('/homepage/illini.JPG');
    background-repeat: no-repeat;
    background-position: center;
}

div:nth-of-type(3) {
    background-image: url('/homepage/rodgers.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

div:nth-of-type(4) {
    background-image: url('/homepage/question-marks.jpg');
    background-position: center;
}

div:nth-of-type(5) {
    background-image: url('/homepage/settings.png');
    background-position: center;
}

